/* ========= CS STORE ========= */

@import url("layout.css");
@import url("banner.css");
@import url("product.css");
@import url("modal.css");
@import url("cart.css");
@import url("tracking.css");
@import url("admin.css");

/* 全站共用設定 */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Microsoft JhengHei",sans-serif;
    background:#f7f9fc;
    color:#000000;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    display:block;
    max-width:100%;
}

button{
    cursor:pointer;
    border:none;
    transition:.3s;
}